<style>
  body {
    padding-top: 70px;
    background-color: #212529;
  }

  nav.navbar {
    background-color: #343a40;
  }

  nav.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  nav.navbar .navbar-nav .nav-link {
    color: #fff;
  }

  nav.navbar .navbar-nav .nav-link:hover {
    color: #ccc;
  }

  nav.navbar .btn {
    color: #fff;
    border-color: #fff;
  }

  nav.navbar .btn:hover {
    background-color: #fff;
    color: #343a40;
  }

</style>

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="../static/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Specter
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'past' %}">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <button type="button" class="btn btn-outline-primary">Log out</button>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">
            <button type="button" class="btn btn-primary">Login</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">
            <button type="button" class="btn btn-outline-primary">Register</button>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
